footer {
  // display: block;
  font-size: $font-size-middle;
  text-align: center;
  margin: 5rem;
  display: flex-wrap;
  justify-content: space-between;
}

.footer {
  &__link {
    margin-left: 1.6rem;
  }
  &__link:first-child {
    margin-left: 0;
  }
}
