.header {
  display: flex;
  justify-content: space-between;

  @include respond(wide) {
    display: block;
  }

  &__title {
      display: block;
      text-align: center;
    @include respond(small) {
      font-size: $font-size-title-small;
      font-weight: $font-weight-title-small;
      // margin: 0.8rem;
      // margin-right: 5.5rem; // avoid collition with hambuger nav
    }
    @include respond(middle) {
      font-size: $font-size-title-middle;
      font-weight: $font-weight-title-middle;
      // margin: 0.8rem;
    }
    @include respond(wide) {
      display: block;
      text-align: center;
      font-size: $font-size-title-wide;
      font-weight: $font-weight-title-wide;
    }
  }
}
