// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Text
$font-serif: 'Scope One', serif; //400, 600, 700
$font-sans-serif: 'Roboto', sans-serif; //100, 300, 400

$line-height-middle: 1.6;

$font-size-small: 1.2rem;
$font-size-middle: 1.8rem;
$font-size-wide: 2.1rem;
$font-weight-middle: 300;
$font-weight-light: 100;

// title
$font-size-title-small: 3rem;
$font-weight-title-small: 600;

$font-size-title-middle: 4.2rem;
$font-weight-title-middle: 700;

$font-size-title-wide: 4.8rem;
$font-weight-title-wide: 700;

//
$text-block-width: 680px;
$mobile-width: 480px;
